:root{
    --scissors-gradient-1 : hsl(39, 89%, 49%);
    --scissors-gradient-2 : hsl(40, 84%, 53%);
    --rock-gradient-1 : hsl(349, 71%, 52%);
    --rock-gradient-2 : hsl(349, 70%, 56%);
    --lizard-gradient-1 : hsl(261, 73%, 60%);
    --lizard-gradient-2 : hsl(261, 72%, 63%);
    --cyan-gradient-1 : hsl(189, 59%, 53%);
    --cyan-gradient-2 : hsl(189, 58%, 57%);
    --dark-text : hsl(229, 25%, 31%);
    --score-text : hsl(229, 64%, 46%);
    --header-outline : hsl(217, 16%, 45%);
    --bg-gradient-1 : hsl(214, 47%, 23%);
    --bg-gradient-2 : hsl(237, 49%, 15%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    padding: 18px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(var(--bg-gradient-1), var(--bg-gradient-2));
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: min(580px, 80vw);
    gap: 18px;
    height: 400px;
    margin: 0 auto;
    padding: 12px 25px;
    border: 2px solid var(--header-outline);
    outline: none;
    border-radius: 15px;
    flex-wrap: wrap;
}
header .heading-sec{
    width: 166px;
    text-align: center;
    height: 80px;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
}
header .user-score, .computer-score{
    background-color: white;
    width: 166px;
    height: 80px;
    padding: 18px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 6.78px;
}
.user-score p, .computer-score p{
    color: var(--score-text);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.user-score #usr-score, .computer-score #comp-score{
    color: var(--dark-text);
    font-weight: 700;
    font-size: 30px;
}
main{
    width: min(600px, 88vw);
    height: auto;
    margin-bottom: 11px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 22px;
    padding: 11px;
}
main .box{
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: 10px solid;
    box-shadow: inset 0px 0px 0px 0.8px red;
}
main .paper{
    background-image: url(images/icon-paper.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-color: var(--lizard-gradient-1);
    box-shadow: 2px 5px 0 0.8px var(--lizard-gradient-2);
    transition: 0.33s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.paper:hover{
    background-color: var(--lizard-gradient-2);
    transition: 0.33s cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: none;
}
main .scissors{
    background-image: url(images/icon-scissors.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-color: var(--scissors-gradient-1);
    box-shadow: 2px 5px 0 0.8px var(--scissors-gradient-2);
}
.scissors:hover{
    background-color: var(--scissors-gradient-2);
    transition: 0.33s cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: none;
}
main .rock{
    background-image: url(images/icon-rock.svg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-color: var(--rock-gradient-1);
    box-shadow: 2px 5px 0 0.8px var(--rock-gradient-2);
}
.rock:hover{
    background-color: var(--rock-gradient-2);
    transition: 0.33s cubic-bezier(0.39, 0.575, 0.565, 1);
    box-shadow: none;
}
footer{
    width: min(580px, 80vw);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 11px;
    padding: 13px;
}
footer .player-info-box, footer .computer-info-box{
    width: 181px;
    height: 155px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.player-info-box .player-info, .computer-info-box .computer-info{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin: 11px auto;
    background-color: white;
}